header{
    background-image: linear-gradient(to right, rgb(144, 247, 241), rgb(243, 146, 243));
    padding: 20px;
}
.influence-anchor{
    font-weight: bold;
    font-size: 30px;
    transition: all 0.3s ease 0s;
}
.influence-anchor:hover{
    color: #0088a9 ;
}
a, li a{
    font-size: 16px;
    color: black;
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.list-style{
    list-style: none;
}
.list-style li {
    display: inline-block;
    padding: 0 7px;
   
}
.list-style li a{
    transition: all 0.3s ease 0s;
     drop-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.list-style li a:hover{
    color: #0088a9 ;
}