.populer-collection{
     padding: 30px 10%;
     
}
.populer_text{
    text-align: center;
}
.item-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 25px;
    justify-items: center
}
.price-tag{

font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30%
}
.rating{
  
}
.items{
    width: 300px;
    padding: 15px 15px 15px;
    box-shadow: 10px 10px 50px -20px rgba(0, 0, 0, 0.2) ;
}
.item-info{
    color: gray;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
  color: #AEAEAE;
  opacity: 0.25; 
}